html{
    background: hsl(210, 46%, 95%);
}
.attribution { font-size: 11px; text-align: center;
position: relative;
top: 150px;
right:120px; }

.attribution a { color: hsl(228, 45%, 44%);}

.card{
    position: absolute;
width: 730px;
height: 280px;
left: 355px;
top: 260px;
}

img{
width: 285px;
height: 280px;
left: 355px;
top: 260px;
}

h5{
    color: hsl(217, 19%, 35%);
    
}